<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>环球北美考试院——备战美国高考SAT住宿班</title>
<link href="{$t_dir}images/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<script language="javascript" type="text/javascript" src="../BPW/BPN.js"></script>
<div id="wrapper">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="288" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="{$t_dir}images/usa_r1_c2.jpg" width="960" height="136" /></td>
      </tr>
      <tr>
        <td><img src="{$t_dir}images/usa_r2_c255.jpg" width="960" height="152" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="{$t_dir}images/usa_r2_c2.jpg" width="960" height="66" /></td>
  </tr>
  <tr>
    <td class="bg1"><table width="939" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td width="546" height="238" align="left" valign="top" bgcolor="#660000" style="padding:8px 8px 0 8px;"><div class="pic">


<script type=text/javascript>
var pic_width=546; //图片宽度
var pic_height=230; //图片高度
var button_pos=4; //按扭位置 1左 2右 3上 4下
var stop_time=2000; //图片停留时间(1000为1秒钟)
var show_text=0; //是否显示文字标签 1显示 0不显示
var txtcolor="000000"; //文字色
var bgcolor="DDDDDD"; //背景色
var imag=new Array();
var link=new Array();
var text=new Array();
imag[1]="{$t_dir}images/banner001.jpg";
link[1]="#";
text[1]="标题 1";
imag[2]="{$t_dir}images/banner002.jpg";
link[2]="#";
text[2]="标题 2";
imag[3]="{$t_dir}images/banner003.jpg";
link[3]="#";
text[3]="标题 3";
imag[4]="{$t_dir}images/banner004.jpg";
link[4]="#";
text[4]="标题 4";
imag[5]="{$t_dir}images/banner005.jpg";
link[5]="#";
text[5]="标题 5";
//可编辑内容结束
var swf_height=show_text==1?pic_height+20:pic_height;
var pics="", links="", texts="";

pics=pics.substring(1);
links=links.substring(1);
texts=texts.substring(1);
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabversion=6,0,0,0" width="'+ pic_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value="flash/focus.swf">');
document.write('<param name="quality" value="high"><param name="wmode" value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'">');
document.write('<embed src="flash/focus.swf" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&pic_width='+pic_width+'&pic_height='+pic_height+'&show_text='+show_text+'&txtcolor='+txtcolor+'&bgcolor='+bgcolor+'&button_pos='+button_pos+'&stop_time='+stop_time+'" quality="high" width="'+ pic_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
</script>






		</div></td>
        <td align="right" valign="top"><table width="374" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="128" align="right" valign="top"><img src="{$t_dir}images/usa_r3_c7.jpg" width="118" height="118" class="img1" /></td>
            <td align="right" valign="top"><img src="{$t_dir}images/usa_r3_c9.jpg" width="118" height="118" class="img1" /></td>
            <td align="right" valign="top"><img src="{$t_dir}images/usa_r3_c11.jpg" width="118" height="118" class="img1" /></td>
          </tr>
          <tr>
            <td align="right" valign="top"><img src="{$t_dir}images/usa_r5_c7.jpg" width="118" height="118" class="img1" /></td>
            <td align="right" valign="top"><img src="{$t_dir}images/usa_r5_c9.jpg" width="118" height="118" class="img1" /></td>
            <td align="right" valign="top"><img src="{$t_dir}images/usa_r5_c11.jpg" width="118" height="118" class="img1" /></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<div>
  <ul>
    {section name=l loop=$sm_class}
    <li><a href="list.php?id={$sm_class[l].id}">{$sm_class[l].name}</a></li>
    {/section}
  </ul>
</div>
<div class="tit1"><img src="{$t_dir}images/usa_r8_c5.jpg" /></div>
<div class="tit2"><strong>SAT 封闭脱产联程班V8（8人小班）? 7周封闭集训，保障考取高分</strong></div>
<table style="margin-bottom:10px" width="880" border="0" cellpadding="0" cellspacing="0" class="tablestyle" >
  <tr >
    <td colspan="5" align="left" valign="center" ><p><strong>课程设置：</strong>针对2012年10月、11月、12考试。包括基础段和强化段课程，含SAT词汇、SAT阅读、SAT语法、SAT写作、SAT数学、模考及点评；两次全真模考（基<br />
    　　　　础、强化段结业时各一次）每周一、三、五19:00-21:30配专职老师辅导功课，每周二、四19:00-21:30学生自习。 <br />
        <strong>招生对象：</strong>成绩较优秀的高中生、高中毕业生；有意申请或转入美国名校读本科的学生。 <br />
        <strong>生活管理：</strong>配有宿管、保安员、治疗室，免费提供平安及学生医疗保险。 <br />
        <strong>住宿条件：</strong>学生国际6人间、浴室、卫生间、食堂、公用电话、网线 <br />
        <strong>授课教材：</strong>环球北美考试院指定教材及《SAT官方指南》、《北美考试院高频词汇》、OC<br />
  <strong>精英教师</strong>：北美考试院SAT培训精英团队：颜炜、王劭勤、李琳、李东音、岳珊珊、张悦、赵璇等等 <br />
      <strong>课程优势：</strong>先打基础后强化，结合真题实战练习，冲刺SAT2000高分 <br />
      <strong>教学承诺：</strong>独家承诺半年内SAT考试未满2000分，免费重读一期SAT 2000分市内强化班 <br />
  <strong>招生专线：</strong>010-62127860（魏公村）? 010-62660067（五道口） ?010-57172577(国贸)</p></td>
    </tr>
</table>
  <table width="880" border="0" align="center" cellpadding="0" cellspacing="0" class="tablestyle" >
    <tr>
      <td width="75" align="center" bgcolor="#EFEFEF"><p align="center"><strong>地点 </strong></p></td>
      <td width="120" align="center" bgcolor="#EFEFEF"><p align="center"><strong>班号 </strong></p></td>
      <td colspan="2" bgcolor="#EFEFEF"><p align="center"><strong>上 课 时 间 </strong></p></td>
      <td width="77" bgcolor="#EFEFEF"><p align="center"><strong>课 时 </strong></p></td>
      <td width="78" align="center" bgcolor="#EFEFEF">费用</td>
      <td width="104" bgcolor="#EFEFEF"><p align="center"><strong>费 用 </strong></p></td>
    </tr>
    <tr>
      <td width="75" align="center"><p align="center">育荣校区 </p></td>
      <td width="120" align="center">SFLCV805</td>
      <td width="163">01月22日-03月01日</td>
      <td width="263">周一至六09:00-11:30 13:00-15:30
15:40-18:10 <br>
19:30-21:30自习加辅导（2.8-2.14课休） </p></td>
      <td><p align="center">254</p></td>
      <td align="center">22800</td>
      <td width="104"><p align="center"><a href="http://www30.53kf.com/webCompany.php?arg=edu3x&style=7&language=zh-cn&charset=gbk&lytype=0&referer=http%3A%2F%2Fwww.ntoefl.com.cn%2Fzhuanti%2F20110526%2F%3Fbdclkid%3DpQLEJ5-MKrczcCbfdRftpNt-u_4K0gsDZM-Et7BqBeOImkFr3J&keyword=&tfrom=1&tpl=crystal_blue&kf=toefl-sat&zdkf_type=1&kflist=off" target="_blank">报班咨询</a></p></td>
    </tr>
  </table>
  <div class="tit2"><strong>SAT封闭脱产强化班V8（8人小班）?  短期封闭集训，精品授课</strong></div>
    <table style="margin-bottom:10px" width="880" border="0" cellpadding="0" cellspacing="0" class="tablestyle" >
      <tr >
        <td colspan="5" align="left" valign="center" ><p><strong>课程设置：</strong>针对2012年10月、11月、12考试。4周强化课程，含SAT词汇、SAT阅读、SAT语法、SAT写作、SAT数学、模考及点评；19:00-21:30配专职老师辅导功　</p>
          <p>　　　　　 课 ，每周一、三、五19:00-21:30配专职老师辅导功课，每周二、四19:00-21:30学生自习。</p>
          <p><strong>招生对象：</strong>成绩较优秀的高中生、高中毕业生；有意申请或转入美国名校本科的学生。 <br />
            <strong>生活管理：</strong>配有宿管、保安员、治疗室，免费提供平安及学生医疗保险。 <br />
            <strong>住宿条件：</strong>学生国际6人间、浴室、卫生间、食堂、公用电话、网线 <br />
            <strong>授课教材：</strong>环球北美考试院指定教材及《SAT官方指南》 <br />
  <strong>精英教师</strong>：北美考试院SAT培训精英团队：颜炜、王劭勤、李琳、李东音、岳珊珊、张悦、赵璇等等 <br />
            <strong>课程优势：</strong>结合真题实战练习，冲刺SAT2000高分 <br />
            <strong>教学承诺：</strong>独家承诺半年内SAT考试未满2000分，免费重读一期SAT 2000分市内强化班 <br />
  <strong>招生专线：</strong>010-62127860（魏公村）? 010-62660067（五道口） ?010-57172577(国贸)</p></td>
      </tr>
    </table>
    <table width="880" border="0" align="center" cellpadding="0" cellspacing="0" class="tablestyle" >
      <tr>
        <td width="75" align="center" bgcolor="#EFEFEF"><p align="center"><strong>地点 </strong></p></td>
        <td width="120" align="center" bgcolor="#EFEFEF"><p align="center"><strong>班号 </strong></p></td>
        <td colspan="2" bgcolor="#EFEFEF"><p align="center"><strong>上 课 时 间 </strong></p></td>
        <td width="77" bgcolor="#EFEFEF"><p align="center"><strong>课 时 </strong></p></td>
        <td width="78" align="center" bgcolor="#EFEFEF">费用</td>
        <td width="104" bgcolor="#EFEFEF"><p align="center"><strong>费 用 </strong></p></td>
      </tr>
      <tr>
        <td width="75" align="center"><p align="center">育荣校区 </p></td>
        <td width="120" align="center">SFBQHV804</td>
        <td width="163">02月15日-03月01日</td>
        <td width="263">09:00-11:30 13:00-15:30 15:40-18:10
 <br />
         19:30-21:30自习加辅导（22日课休）
          </p></td>
        <td><p align="center">254</p></td>
        <td align="center">22800</td>
        <td width="104"><p align="center"><a href="http://www30.53kf.com/webCompany.php?arg=edu3x&amp;style=7&amp;language=zh-cn&amp;charset=gbk&amp;lytype=0&amp;referer=http%3A%2F%2Fwww.ntoefl.com.cn%2Fzhuanti%2F20110526%2F%3Fbdclkid%3DpQLEJ5-MKrczcCbfdRftpNt-u_4K0gsDZM-Et7BqBeOImkFr3J&amp;keyword=&amp;tfrom=1&amp;tpl=crystal_blue&amp;kf=toefl-sat&amp;zdkf_type=1&amp;kflist=off" target="_blank">报班咨询</a></p></td>
      </tr>
    </table>
    <br/>
<!--#include virtual="/includes/geduxm960.html" -->
<script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r4.gif" charset="utf-8"></script>
</div>
</body>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9d69bf4d16d442b5d17e7be6132bdb87' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>document.write("<scr"+"ipt language=\"javascript\" src=\"http://www.53kf.com/kf.php?arg=edu3x&style=7&keyword="+escape(document.referrer)+"\"></scr"+"ipt>");</script>
<script src="http://s23.cnzz.com/stat.php?id=4254013&web_id=4254013&show=pic" language="JavaScript"></script>
</html>
