@charset "utf-8";
body,table,td,div,p,ul,li,img,span{ margin:0; padding:0;}
body{
	text-align:center;
	background-color: #dddddd;
	background-image: url(usa_bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#wrapper{ width:960px; margin:0 auto; background:#fff;}
.bg1{ background:url(usa_r3_c2.jpg) repeat-x;}
.img1{ border:1px solid #ccc;}
.tit1{ width:880px; height:27px; padding-top:26px; margin:0 auto;}
.tit2{ width:846px; height:22px; padding-top:6px; margin:8px auto 8px auto; text-align:left; background:url(usa_r10_c4.jpg) no-repeat; font-size:18px; color:#fff; font-weight:bold; padding-left:34px;}
.tit3{ font-size:14px;}
.tablestyle{ border-collapse:collapse; margin:0 auto;}
.tablestyle td{ border:1px solid #CCCCCC; font-size:12px; padding:4px; line-height:24px;}
.pic{ background:#fff; height:230px;}
